.container{
    width: 100%;
}
body{
    width: 100%;
    margin: 0px;
}

.menu{
    width: 100%;
    margin: auto;
    text-align: center;
    background: #83c5be;
    min-height: 100px;
}
.display-5{
    text-transform: uppercase;
}
.links{
    width: 100%;
    text-align: right;
}
.links a{
    padding: 1%;
    background-color: #006d77;
    color: white;
}
.links a:hover{
    color: black;
}